<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Playfair+Display:wght@600;700&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<!-- NAVBAR -->
<nav class="navbar sticky-top">
    <div class="container-fluid px-3 px-lg-5 py-1">
        <a class="nav-link cafe-brand" href="/">Coffice ☕💻</a>
        <div class="d-flex align-items-center gap-4">
            <a href="{{ url_for('suggest_cafe') }}" class="nav-link nav-add-cafe">+ Add cafe</a>
            <div class="auth-links">
                <a href="" class="nav-link nav-login">Login</a>
                <a href="" class="nav-link nav-register">Register</a>
            </div>
        </div>
    </div>
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<!-- FOOTER -->
<footer>

</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous">
</script>
<script>
    function getUserLocation() {
        return new Promise((resolve, reject) => {
            if (!navigator.geolocation) {
                reject(new Error("Geolocation is not supported."));
                return;
            }

            navigator.geolocation.getCurrentPosition(
                (position) => {
                    resolve({
                        lat: position.coords.latitude,
                        lon: position.coords.longitude
                    });
                },
                (error) => reject(error),
                {
                    enableHighAccuracy: false,
                    timeout: 10000,
                    maximumAge: 300000
                }
            );
        });
    }
</script>
{% block scripts %}
{% endblock %}

</body>
</html>

